body {grid-template-columns: 15vw 70vw 15vw; grid-template-rows: 50px 1fr; background-color: #e5001f; min-height: 100svh; color: white;}

header, nav {grid-area: 2/1/3/4; max-height: 0px; z-index: 5; width: 100%; transition: all .4s ease-in-out;}
main {grid-area: 2/1/3/4; background-color: white; color: black; border-radius: 20px 10px 0px 0px; scroll-snap-type: y mandatory; max-height: calc(100vh - 50px);
	overflow-y: scroll;}
#searchForms {height: calc(100vh - 50px);}
#logo {grid-area: 1/2/2/3; z-index: 0;}
label:has(#menuBtn:checked) ~ nav, label:has(#adminBtn:checked) ~ header {position: sticky; top: 50px; max-height: fit-content; display: flex; z-index: 100; gap: .5rem; padding: 1rem .5rem; background-color: #e5001f;}
label:has(#menuBtn:checked) ~ nav {flex-direction: column; align-items: center;}
label:has(#adminBtn:checked) ~ header {flex-direction: row; flex-wrap: wrap; align-items: baseline; justify-content: space-around;}

.report {flex-direction: column; align-items: center; justify-content: space-between; margin: 1.2rem auto 0 auto;}
.reportImg {max-width: 80vw;}

.columns {width: 98%; display: flex; flex-direction: column; align-items: center;}

.navBottom {flex-basis: 80%; max-width: fit-content; margin-top: 40px;}
.navBottom > span {margin-left: 35px;}

label[for="menuBtn"], label[for="adminBtn"], #logo {position: sticky; top: 0px; background-color: #e5001f; display: flex; align-items: center; justify-content: center;}
label[for="adminBtn"] {grid-area: 1/1/2/2; z-index:5;}
label[for="menuBtn"] {grid-area: 1/3/2/4; z-index:5;}
label[for="adminBtn"], label[for="menuBtn"] {background-size: contain; background-repeat: no-repeat; background-position: center;}
body:has(#menuBtn:checked) > label[for="adminBtn"], body:has(#adminBtn:checked) > label[for="menuBtn"] {background: #e5001f;}
label:has(#menuBtn:checked), label:has(#adminBtn:checked) {background-image: url('../icon/close.svg');}
label[for="adminBtn"] {background-image: url('../icon/admin.svg');}
label[for="menuBtn"] {background-image: url('../icon/menu.svg');}

#loginForm {display: flex; flex-direction: column; gap: .5rem;}
#menuBtn, #adminBtn {display: none;}

form {border-radius: 10px;}

.getProject {scroll-snap-align: end;}

.getProject, .editProject {display: flex; margin: 0 auto 1rem auto; gap: 1rem; width: max(70%, 35ch); flex-direction: column; justify-content: center;
						padding: 1rem;}
#addSample {display: flex; flex-direction: column; justify-content: center; align-items: center; gap: .5rem;}
#addSample > textarea {width: 80%; height: 150px; border: 1px solid #e5001f; border-radius: 10px; margin: auto; resize: none;}

#loginForm, .columnForm, #getProject {display: flex; gap: 1rem; flex-direction: column; align-items: center;}
#partsForm {display: inline-flex; width: 100%; margin: 1rem auto; flex-wrap: wrap; justify-content: center; align-items: center; gap: 1rem .5rem;}
#partsForm > select, #partsForm >label {width: 45%;}
#partsForm > input[type="text"] {flex-basis: 80%;}
td {padding: .3rem .2rem;}
tr:hover {background-color: #e5001f69;}
tr:hover > td { border-radius: 10px;}

.sampleTab {max-height: calc(100svh - 50px); width: 100vw; display: flex; flex-direction: column; outline: none; overflow-y: auto; gap: 1rem; margin: 0; padding: 0 5vw; 
        position: sticky; top:0px; scroll-snap-align: start; scroll-snap-type: y mandatory;}
.hashSelect {max-height: 45px; position: sticky; top:0; z-index: 10; display: inline-flex; gap: 1rem; align-items: center; justify-content: center; background: white;}
.card {position: relative; min-height: fit-content; height: 85svh; display: flex; flex-direction: column; gap: .5rem; border-radius: 20px;
		scroll-snap-align: center; justify-content: flex-start; border: 2px solid gray; animation: disappear ease-in-out; animation-timeline: view();}

.files tr td:first-child {max-width: 70vw; overflow: hidden;}

.cardRow {width: 90vw; display: inline-flex; justify-content: space-evenly; align-items: center;}
details, .column {display: flex; margin: 1rem .5rem; gap: 0; border-radius: 10px; flex-direction: column; justify-content: center; align-items: center;}
details {max-height: fit-content; text-align: center; border-radius: 10px; padding: .2rem .5rem; overflow: clip; color: white;
        background-image: linear-gradient(180deg, transparent, #e5001f 5px); transition: background-image .4s ease-in-out;}
summary {display: inline-flex; width: 100%; justify-content: space-between; transition: all .4s ease-in-out;}
details:open {background-image: linear-gradient(180deg, transparent 20px, #e5001f 25px); max-height: fit-content; padding: .5rem;}
details:open > summary {margin: 0 auto .5rem auto;}
.cardRow {font-size: 1.2rem; font-weight: bold;}
.sampleTab > summary {display: inline-flex; height: fit-content; width: 90%; justify-content: space-between;}
.sampleTab > div:is(.sn, .info) {display: flex; flex-direction: column; justify-content: center;}


.row {display: inline-flex; margin: .5rem auto; align-items: center; gap: 1rem;}
.red, .orange, .green, .blue, .D, .aoi, .ict, .olbs, .eoli {padding: .2rem .5rem; border-radius: 10px; width: fit-content; font-weight: bold;}
.red, .D {border: 2px solid #e5001f; color: red;}
.orange {border: 2px solid orange; animation: beforeExpire 1s ease-in-out infinite; animation-direction: alternate;}
.green {border: 2px solid rgb(0,180,0); color: rgb(0,180,0);}
.blue {border: 2px solid #0088ff; color: #0088ff;}
.err {width: fit-content; margin: 1.2rem auto 0 auto; color: #e5001f; font-weight: bold;}
.dmgBtn {width: fit-content; background-color: #ffeb3b; border: 1px solid black; color: black;}
.mcheck, .mcross, .mprgs, .mexp, .mwarn, .mrqst, .mdmg {background-size: contain; background-repeat: no-repeat; width: 35px; aspect-ratio: 1/1;}

.getProject > .row {display: inline-flex; justify-content: center; flex-wrap: wrap;}

.off {background-image: url('../icon/off.svg'); aspect-ratio: 1/1; width: 35px;}
select, input {font-size: 1.2em; text-align: center; border-radius: 10px; outline: none; border: 1px solid black;}
a, input[type="submit"], button, .infoBtn {display: flex; align-items: center; justify-content: center; color: #e5001f; background-color: white;
	border-radius: 10px; border: 1px solid #e5001f; font-size: 1.2em; font-weight: bold; padding: .2rem .5rem;}

.aoi {border: 1px solid white;}
.ict {border: 1px solid black;}
.olbs {border: 1px solid white;}
.eoli {border: 1px solid black;}

.btnUp {position: sticky; z-index: 5; top: calc(100vh - 50px); left: calc(100% - 60px); background-image: url('../icon/top.svg'); transform: translateY(60px);
		background-color: #e5001f; border-radius: 50%; background-size: contain; background-repeat: no-repeat; padding: 0; width: 40px; height: 40px;
		animation: backToSearch forwards ease-in-out; animation-timeline: scroll(y); animation-range-start: calc(0vh + 190px); animation-range-end: calc(0vh + 250px);}

.loading-spinner {mask-size: 85vw;}
.loading-spinner::before {width: 200vw; left: -50%;}

@keyframes disappear {
0% {transform: scale(.4); opacity: 0;}
30% {transform: scale(1); opacity: 1;}
70% {transform: scale(1); opacity: 1;}
100% {transform: scale(.4); opacity: 0;}
}
@keyframes backToSearch {
0% {transform: trasnlateY(60px);}
100% {transform: translateY(0px);}
}
@keyframes beforeExpire {
0% 		{background: white; color: orange; border: 1px solid black;}
100% 	{background: orange; color: black;}
}
